body {
    line-height: 150%;
    width: 150%;
    /* In order to get the "container" to be 960px, I had to
    set the body width to be 150%.  This seems arbitrary though
    was there any other way */
    background-image: url("../images/houndstooth-pattern.png");
    
}

#NameBox {
    float: left;
    color:White;
    background-color: #4aaaa5;
    height: 75px;
    width: 200px;
    position:relative;
    text-align: center;
    
    
}
#LinksBox {
    float: right;
}
#hrClear {
    clear:both;
    
    position:relative;
    left: 0px;
}

header {
    background-color:white;
}
.containerTop {
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.containerBottom {
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/*Split container into containerTop and containerBottom so that hr line
wouldn't be part of the "container" */

#sectionBox {
    position: absolute;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    background: white;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0px;
    
}

#myImage {
    float: left;
    
    margin-right: 10px;
}

#paragraph {
    float: right;
    margin-left: 20px;
    margin-right: 20px;

}

h1 {
    margin-left: 20px;
}